.TodoItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);

  input {
    width: 20px;
  }

  .content {
    flex: 1;
  }
}